<!DOCTYPE html>
<html>

<head>
    <title>Vue js Example</title>
    <style>

        .box {
          width: 200px;
          height: 200px;
          background-color: #ff0000;
          border: 1px solid #ccc;
          padding: 20px;
        }
        .box.two{
            background-color: blue;
        }
        .box.three{
            background-color: pink;
        }
        [v-cloak]{
            display: none;
        }
        input{
            margin :10px;
            display: block;

        }
      </style>
</head>

<body>

    <div id="app" v-cloak>
       
        <login-form/>
        <hr/>
        <!-- vue js application -->
        <input @keyup.enter="greet(greeting + '!!!')" v-model="greeting" />
        <hr/>
       <!-- <button v-on:click="isvisible = !isvisible">Toggle box</button> --> 
        <!-- event -->
        <br/>
        <button @click="togglebox">Toggle1 box</button>
 
        <div v-if="isvisible" class="box"></div>
        
      <!--    <div v-show="isvisible" class="box"></div>-->
    </div>


    <!-- vue js application -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            // creat variable
            data: function () {
                return {
                    greeting: 'hello vue 3!',
                    isvisible: false
                   
                    
                }
            },
            methods: {
                togglebox(){
                    this.isvisible= !this.isvisible
                },
                greet(greeting){
                    console.log(greeting)
                }
            }
        })
        app.component('login-form',{
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1> {{title}}</h1>
                    <custom-input input type="email" :label="emaillabel"/>

                    <custom-input input type="password" v-bind:label="passwordlabel"/> 
                    <button>Login in </button>
                </form>
            `,
            components: ['custom-input'],
            data(){
                return {

                    title: 'Login Form',
                    email:'',
                    password:'',
                    emaillabel:'Email',
                    passwordlabel:'Password'
                }
            },
            methods:{
                handleSubmit(){
                    console.log(this.email,this.password)
                }
            }
        })
        app.component('custom-input',{
            template: `
                <label>
                    {{ label }}
                    <input type="text">
                    </label>
            `, props:['label']
        })
        app.mount('#app')

    </script>
</body>

</html>