<!DOCTYPE html>
<html>

<head>
    <title>Vue js Example</title>
    <style>

        .box {
          width: 200px;
          height: 200px;
          background-color: #ff0000;
          border: 1px solid #ccc;
          padding: 20px;
        }
        .box.two{
            background-color: blue;
        }
        .box.three{
            background-color: pink;
        }
        [v-cloak]{
            display: none;
        }
      </style>
</head>

<body>

    <div id="app" v-cloak>
        {{ greeting }}
        <hr/>
        <!-- vue js application -->
        <input @keyup.enter="greet(greeting + '!!!')" v-model="greeting" />
        <hr/>
       <!-- <button v-on:click="isvisible = !isvisible">Toggle box</button> --> 
        <!-- event -->
        <br/>
        <button @click="togglebox">Toggle1 box</button>
 
        <div v-if="isvisible" class="box"></div>
        
      <!--    <div v-show="isvisible" class="box"></div>-->
    </div>


    <!-- vue js application -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            // creat variable
            data: function () {
                return {
                    greeting: 'hello vue 3!',
                    isvisible: false
                   
                    
                }
            },
            methods: {
                togglebox(){
                    this.isvisible= !this.isvisible
                },
                greet(greeting){
                    console.log(greeting)
                }
            }
        })
        app.mount('#app')

    </script>
</body>

</html>