<!DOCTYPE html>
<html>

<head>
    <title>Vue js Example</title>
    <style>

        .box {
          width: 200px;
          height: 200px;
          background-color: #ff0000;
          border: 1px solid #ccc;
          padding: 20px;
        }
        .box.two{
            background-color: blue;
        }
        .box.three{
            background-color: pink;
        }
        [v-cloak]{
            display: none;
        }
      </style>
</head>

<body>

    <div id="app" v-cloak>
        {{ greeting }}
        <hr/>
        <!-- vue js application -->
        <input v-model="greeting" />
        <hr/>
        <div v-if="isvisible" class="box"></div>
        <div v-else-if="isvisible2" class="box two"></div>
        <div v-else class="box three"></div>

      <!--    <div v-show="isvisible" class="box"></div>-->
    </div>


    <!-- vue js application -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            // creat variable
            data: function () {
                return {
                    greeting: 'hello vue 3!',
                    isvisible: false,
                    isvisible2: true,
                    
                }
            }
        })
        app.mount('#app')

    </script>
</body>

</html>